<h1>CRUD</h1>


<a href="inserir"><button>INSERIR</button></a>
<a href="select"><button>SELECIONAR</button></a>
<a href="deletar"><button>DELETAR</button></a>
<a href="atualizar"><button>ATUALIZAR</button></a>
